@if (loading) {
    <div>
        <p>Loading dashboard...</p>
    </div>
}
@if (error) {
    <div>
        <p>Failed to load dashboard data.</p>
    </div>
}
@if (!loading && !error) {
    <div class="demo">
      <div class="actions">
        <button (click)="onEditCourse()" i18n>Edit Course</button>
        <a routerLink="/courses/new" class="create-link">Create Course</a>
      </div>
    </div>

    <div class="courses">
      @for (course of courses; track course.courseId; let i = $index) {
        <course-card      
          (courseChanged)="save($event)"
          type="beginner"
          [course]="course"
          [cardIndex]="i"
        >
          <course-image [src]="course.iconUrl"></course-image>
        </course-card>
      }
    </div>

    <mat-paginator 
      [length]="coursesTotal" 
      [pageSize]="pageSize" 
      [pageIndex]="pageNumber - 1" 
      [pageSizeOptions]="[1,5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page">
    </mat-paginator>
}

